<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="./常见问题_零二八_files/常见问题_零二八.html" title="">
        <img src="./images/logo_6.png" width="127" height="128" alt=""><strong>常见问题</strong><span>Questions</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="content">
  <div class="wrapper">
    <div class="contentbar">
      <br/>
      <% @questions.each do |q| %>
          <div class="jiajianlist">
            <div class="jiajianbox">
              <h4><em></em><%= link_to truncate_u(q.title, 30), question_path(q) %></h4>
              <ul style="display: block;">
                <%= truncate_u(q.description, 30).html_safe %>
              </ul>
            </div>
          </div>
      <% end %>
      <div class="pager">
        <div class="pagination pagination-centered">
          <ul>
            <%= paginate @questions %>
          </ul>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <h3 class="cat_title"><a href="<%= cases_path %>" title="朋兴案例">· 案例</a></h3>
      <% @roll.each do |roll| %>
          <h5><a href="<%= case_path(roll) %>" title="<%= roll.title %>"><%= roll.title %></a></h5>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</section>
</body>
<%= render "comment/footer" %>