<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="<%= questions_path %>" title="">
        <img src="../images/logo_6.png" width="127" height="128" alt=""><strong>常见问题</strong><span>Questions</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="content">
  <div class="wrapper">
    <div class="contentbar">
      <br/>
      <br/>
      <article>
        <h1 id="title">
          <span>UPTATED:<%= my_time_format @question.created_at %>
            <a href="<%= questions_path %>" title="朋兴帮您解决烦恼">返回列表</a></span>
          <%= @question.title %>
        </h1>

        <div id="info">
          <div>
            <%= truncate_u(@question.description, 60).html_safe %>
          </div>
        </div>
      </article>
    </div>

    <div class="sidebar">
      <h3 class="cat_title">您可能感兴趣的！</h3>


      <% @questions.each do |q| %>
          <h5><a href="<%= question_path(q) %>" title="<%= q.title %>"><%= q.title %></a></h5>
      <% end %>

    </div>
    <div class="clear"></div>
  </div>
</section>
<footer>
  <div id="footerinfo">
    <div class="wrapper">
      <div class="adrtel"><a href="#" class="tel">咨询电话：028-86728035</a>办公地址：成都市一环路西三段熙城国际1单元8楼<a href="#">地图</a></div>
      <p>Copyright &#169; 2011-2014 www.028studio.com .All Rights Reserved. 成都零二八 版权所有.
        <a href="http://www.028studio.com/" title="成都网络公司" target="_blank">成都网络公司</a>
        <a href="http://www.028wz.net/" title="成都做网站" target="_blank"> 028工作室 </a>
        <a href="http://www.028tg.net/" title="成都网站推广" target="_blank">成都网站推广</a>
        <script language="javascript" type="text/javascript" src="javascripts/4713898.js"></script>
      </p>

      <img src="../images/foot_map.png" id="homemap" alt="长春朋兴文化传媒有限公司地理位置" height="156" width="208">

      <div class="links">
        <p>
          友情链接：</p>
        <li><a href="http://www.028wz.net/" target="_blank">长春朋兴文化传媒有限公司</a></li>
        <li><a href="http://www.028shop.com.cn/" target="_blank">商城网站建设</a></li>
        <li><a href="http://www.028wz.net/" target="_blank">成都网站建设</a></li>
        <li><a href="http://www.028tg.net/" target="_blank">成都网站推广</a></li>
        <li><a href="http://www.hnqifan.com/" target="_blank">郑州网站建设</a></li>
        <li><a href="http://www.zzqifan.cn/" target="_blank">郑州网络公司</a></li>
        <li><a href="http://www.45ie.cn/" target="_blank">郑州网站建设</a></li>
        <li><a href="http://www.guiren100.com/" target="_blank">济南网站建设</a></li>
        <li><a href="http://www.websalesplan.com/" target="_blank">大连网站制作</a></li>
        <li><a href="http://www.viexus.com/" target="_blank">大连网站建设</a></li>
        <li><a href="http://www.styongtu.com/" target="_blank">汕头网络公司</a></li>
        <li><a href="http://www.ytkaituo.com/" target="_blank">烟台网站建设</a></li>
        <li><a href="http://www.cvknet.com/" target="_blank">汕头网站建设</a></li>
        <em>零二八-<a href="http://www.028studio.com/" target="_blank" title="成都网站建设">成都网站建设</a>高端品牌！
          三年<a href="http://www.028studio.com/" target="_blank" title="成都网站建设公司">成都网站建设公司</a>运营经验、企业<a href="http://www.028studio.com/" title="品牌网站建设">品牌网站建设</a>经验；欢迎<a href="http://www.028studio.com/" title="网站建设">网站建设公司</a></em>

        <p></p>
      </div>
    </div>
  </div>
</footer>
<div id="service2">
  <a class="srvCns" href="<%= contact_index_path %>" target="_blank">朋兴在线咨询</a>
  <a class="goTop" id="goTop" title="返回顶部" style="display:none">返回顶部</a>
</div>
</body>
