<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="<%= questions_path %>" title="">
        <img src="../images/logo_6.png" width="127" height="128" alt=""><strong>常见问题</strong><span>Questions</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="content">
  <div class="wrapper">
    <div class="contentbar">
      <br/>
      <br/>
      <article>
        <h1 id="title">
          <span>UPTATED:<%= my_time_format @question.created_at %>
            <a href="<%= questions_path %>" title="朋兴帮您解决烦恼">返回列表</a></span>
          <%= @question.title %>
        </h1>

        <div id="info">
          <div>
            <%= truncate_u(@question.description).html_safe %>
          </div>
        </div>
      </article>
    </div>

    <div class="sidebar">
      <h3 class="cat_title">您可能感兴趣的！</h3>


      <% @questions.each do |q| %>
          <h5><a href="<%= question_path(q) %>" title="<%= q.title %>"><%= q.title %></a></h5>
      <% end %>

    </div>
    <div class="clear"></div>
  </div>
</section>
</body>
<%= render "comment/footer" %>
