<body id="index">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="<%= root_path %>" title="长春朋兴微管家">
        <!--<img src="http://www.028studio.com/templets/default/img/logo.png" width="214" height="60" alt="长春朋兴微管家"><br/>-->
        <img src="./images/logoo.png" width="300" height="70" alt="长春朋兴微管家">
      </a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<section id="banner">
  <ul id="banner_img">
    <li style="display: block;">
      <div class="wrapper">
        <div style="top: 110px; opacity: 1;" class="ad_txt">
          <h2>微站时代来临</h2>

          <p style="padding-top: 0px; padding-bottom: 0px;">智能手机、平板电脑<br>
            2014您的网站触手可及了吗？
          </p>
          <a href="<%= weixin_index_path %>" target="_blank">点击查看详情&gt;</a>
        </div>
        <div style="right: 10px; opacity: 1;" class="ad_img">
          <img src="images/banner1.png" alt="微站时代来临" height="393" width="753">
        </div>
      </div>
    </li>

  </ul>
  <div id="banner_ctr">
    <div style="left: 6px;" id="drag_ctr"></div>
    <ul>
      <li>微站时代来临</li>
    </ul>
    <div style="left: 6px;" id="drag_arrow"></div>
  </div>
</section>
<section id="service">
  <ul>
    <li class="">
      <a href="<%= website_services_path %>" title="网站建设/网站设计">
        <h3 class="website">朋兴网站建设</h3>

        <p>朋兴能够帮您搭建适应各种设备及浏览器访问、针对主流搜索引擎优化、用户体验良好的网站。
          深入剖析企业需求，致力于树立良好的企业品牌形象，完善企业对内外的传播需求。积极协助企业找到发展战略核心，从战略的角度树立企业的品牌形象。</p>
      </a>
    </li>
    <li>
      <a href="<%= weixin_index_path %>" title="微信公众平台开发" target="_blank">
        <h3 class="weixin">朋兴微信 / 微站</h3>

        <p>做完网站就够了吗？网站推广的意义等同于广告！成千上万的同行网站，让客户立刻找到你！点击免费，提高网站在所有搜索引擎的排名</p>
      </a>
    </li>
    <li class="cur">
      <a href="<%= marketing_services_path %>" title="网站推广/网站优化">
        <h3 class="seo">朋兴微商城</h3>

        <p>
          微商城是基于当前很受欢迎的微信的这种传媒方式中的一种商业运用，
          微信的当前的火热是一个商机，基于微信的传播速度，及其简便等优点，
          为商家提供一个平台，在这个更简便的、方便的平台里进行更为现代的电子商务。
          
        </p>
      </a>
    </li>
    <li style="left: 738px;" class="arrow"></li>
  </ul>
</section>
<!--      案例       -->
<section id="caseslist">
  <ul class="cases">
    <li>
      <a href="<%= cases_path %>" title="朋兴网站建设成功案例">
        <img src="../images/icase_t.gif" alt="朋兴网站建设成功案例"></a>
    </li>
    <% @roll.each do |roll| %>
        <li class="item1">
          <a href="<%= case_path(roll) %>">
            <%= image_tag roll.avatar.url(:zhengchang) %>
          </a>

          <p>
            <a href="<%= case_path(roll) %>" title="<%= roll.title %>"><%= roll.title %></a>
          </p>
        </li>
    <% end %>
  </ul>
</section>
<!--     end      -->
<section id="news">
  <div class="newsdata">
    <div class="questionlist">
      <h2 class="cat_title"><span><a href="<%= news_index_path %>" class="more">MORE+</a></span>新闻中心</h2>
      <ul>
        <% @journalisms.each do |q| %>
            <li>
              <a href="<%= news_path(q) %>" title="<%= truncate_u(q.title, 12) %>" target="_blank">
                · <%= truncate_u(q.title, 20) %>
              </a>
            </li>
        <% end %>
      </ul>
    </div>
    <div id="newsbox">
      <h2 class="cat_title"><span><a href="http://www.pxwgj.com/questions" class="more">MORE+</a></span>常见问题
      </h2>
      <ul>
        <li>

          <div class="newslist">
            <a href="http://www.pxwgj.com/questions/5" title="手机网站和普通网站有什么区别呢？">手机网站和普通网站有什么区别呢？</a>
            <span>UPTATED:2014-06-10</span>

            <p>1.访问入口不同 一般、如果你要上网、你采用的方法觉对是去网吧（相信大部分人是不是在家上网的）。但是由于手机的普及和手机上...</p>
          </div>
        </li>
        <li>
          <a href="<%= questions_path %>" target="_blank">
            <img src="http://www.028studio.com/uploads/allimg/140312/13423R2Z-0-lp.jpg" data-original="http://www.028studio.com/uploads/allimg/140312/13423R2Z-0-lp.jpg" width="90" style="display: block;">
          </a>

          <div class="newslist">
            <a href="http://www.pxwgj.com/questions/4" title="微网站能做什么？">微网站能做什么？</a>
            <span>UPTATED:2014-06-10</span>

            <p>展示企业形象 微站是企业在移动互联网时代完美展示企业及品牌形象的最佳选择，表现内容丰富、实时更新、形式多样化，保证品牌形...</p>
          </div>
        </li>
        <li>
          <a href="<%= questions_path %>" target="_blank"><img src="http://www.028studio.com/uploads/allimg/140312/13405043C-0-lp.jpg" data-original="http://www.028studio.com/uploads/allimg/140312/13405043C-0-lp.jpg" width="90" style="display: block;"></a>

          <div class="newslist">
            <a href="http://www.pxwgj.com/questions/3" title="为什么需要微站 / 微网站？">为什么需要微站 / 微网站？</a>
            <span>UPTATED:2014-06-10</span>

            <p>适合手机访问 移动互联网时代的来临，好比一场随风潜入夜，润物细无声的春雨，悄然改变着我们的生活方式，越来越多人习惯使用手...</p>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="clear"></div>
</section>
</body>
<%= render "comment/footer" %>


