<body id="index">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="<%= root_path %>" title="长春朋兴微管家">
        <!--<img src="http://www.028studio.com/templets/default/img/logo.png" width="214" height="60" alt="长春朋兴微管家"><br/>-->
        <img src="./images/logo.png" width="300" height="70" alt="长春朋兴微管家">
      </a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<section id="banner">
  <ul id="banner_img">
    <li style="display: block;">
      <div class="wrapper">
        <div style="top: 110px; opacity: 1;" class="ad_txt">
          <h2>微站时代来临</h2>

          <p style="padding-top: 0px; padding-bottom: 0px;">智能手机、平板电脑<br>
            2014您的网站触手可及了吗？
          </p>
          <a href="<%= weixin_index_path %>" target="_blank">点击查看详情&gt;</a>
        </div>
        <div style="right: 10px; opacity: 1;" class="ad_img">
          <img src="images/banner1.png" alt="微站时代来临" height="393" width="753">
        </div>
      </div>
    </li>

  </ul>
  <div id="banner_ctr">
    <div style="left: 6px;" id="drag_ctr"></div>
    <ul>
      <li>微站时代来临</li>
    </ul>
    <div style="left: 6px;" id="drag_arrow"></div>
  </div>
</section>
<section id="service">
  <ul>
    <li class="">
      <a href="<%= website_services_path %>" title="网站建设/网站设计">
        <h3 class="website">网站建设</h3>

        <p>028能够帮您搭建适应各种设备及浏览器访问、针对主流搜索引擎优化、用户体验良好的网站。
          深入剖析企业需求，致力于树立良好的企业品牌形象，完善企业对内外的传播需求。积极协助企业找到发展战略核心，从战略的角度树立企业的品牌形象。</p>
      </a>
    </li>
    <li>
      <a href="<%= weixin_index_path %>" title="微信公众平台开发" target="_blank">
        <h3 class="weixin">微信 / 微站</h3>

        <p>做完网站就够了吗？网站推广的意义等同于广告！成千上万的同行网站，让客户立刻找到你！点击免费，提高网站在所有搜索引擎的排名</p>
      </a>
    </li>
    <li class="cur">
      <a href="<%= marketing_services_path %>" title="网站推广/网站优化">
        <h3 class="seo">网站推广</h3>

        <p>微信从2011年1月21日推出到现在短短2年多时间,用户数量达5亿.可见微信的发展速度,微信正改变我们的移动营销方式.</p>
      </a>
    </li>
    <li style="left: 738px;" class="arrow"></li>
  </ul>
</section>

<section id="caseslist">
  <ul class="cases">
    <li>
      <a href="<%= cases_path %>" title="成都网站建设成功案例"><img src="images/icase_t.gif" alt="成都网站建设成功案例"></a>
    </li>
    <% @roll.each do |roll| %>
        <li class="item1">
          <%= image_tag roll.avatar.url(:zhengchang) %>
          <img src="images/case.png" data-original="http://www.028studio.com/uploads/140520/2-14052014263E57.jpg" alt="福美来石材">

          <p>
            <a href="<%= case_path(roll) %>" title="<%= roll.title %>"><%= roll.title %></a>
          </p>
        </li>
    <% end %>
  </ul>
</section>
<section id="news">
  <div class="newsdata">
    <div class="questionlist">
      <h2 class="cat_title"><span><a href="<%= news_index_path %>" class="more">MORE+</a></span>新闻中心</h2>
      <ul>
        <% @journalisms.each do |q| %>
            <li>
              <a href="<%= news_path(q) %>" title="<%= q.title %>" target="_blank">
                · <%= q.title %>
              </a>
            </li>
        <% end %>
      </ul>
    </div>
    <div id="newsbox">
      <h2 class="cat_title"><span><a href="<%= questions_path %>" class="more">MORE+</a></span>
        <a href="<%= questions_path %>" title="常见问题">常见问题</a>
      </h2>
      <% @questions.each do |q| %>
          <ul>
            <li>
              <div class="newslist">
                <a href="<%= question_path(q) %>" title="<%= q.title %>"><%= q.title %></a>
                <span>UPTATED:<%= my_time_format q.created_at %></span>

                <p><%= truncate_u(q.description, 60).html_safe %></p>
              </div>
            </li>
          </ul>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</section>
</body>
<%= render "comment/footer" %>

