<div id="sidebar">
  <ul>
    <li class="focus"><a class="hover" href="/cccabouts">关于我们</a></li>
    <li><a href="<%= disclaimer_cccabouts_path %>">免责声明</a></li>
    <li><a href="<%= privacy_cccabouts_path %>">隐私条款</a></li>
    <li><a href="<%= job_cccabouts_path %>">工作机会</a></li>
    <li><a href="<%= contact_cccabouts_path %>">联系我们</a></li>
    <li><a href="<%= links_cccabouts_path %>">业务合作</a></li>
    <li><a href="http://j.map.baidu.com/7GRWv" target="_blank">网站地图</a></li>
    <li><a href="http://bbs.changchunche.com/misc.php?mod=faq" target="_blank">帮助中心</a></li>
  </ul>
  <dl class="other-help">
    <dt class="icon_phone">客服电话：</dt>
    <dd>15104419753</dd>
    <dt class="icon_forum">公司地址：</dt>
    <dd>长春市解放大路财富广场</dd>
  </dl>
</div>