<ul>
  <li class="home hover" style="opacity: 1; background-position-y: -37px;">
    <a href="<%= root_path %>" title="长春朋兴首页">首页</a></li>
  <li class="nav1" style="opacity: 1; background-position-y: -37px;">
    <a href="<%= abouts_path %>" title="长春朋兴关于">关于</a></li>
  <li class="nav2" style="opacity: 1; background-position-y: -37px;">
    <a href="<%= website_services_path %>" title="长春朋兴服务">服务</a></li>
  <li class="nav3" style="opacity: 1; background-position-y: -37px;">
    <a href="<%= cases_path %>" title="长春朋兴案例">案例</a></li>
  <li class="nav4" style="opacity: 1; background-position-y: -37px;">
    <a href="<%= contact_index_path %>" title="长春朋兴案例">联系方式</a></li>
</ul>