<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="./案例_零二八_files/案例_零二八.html" title="">
        <img src="./images/logo_3.png" width="127" height="128" alt=""><strong>案例</strong><span>CASES</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="caseslist">
  <div class="case_logo">
    <img src="./images/case_logo1.png">
    <img src="./images/case_logo2.png">
    <img src="./images/case_logo3.png">
  </div>
  <ul class="cases2 wrapper">
    <% @roll.each do |roll| %>
        <li class="item1">
          <a href="<%= case_path(roll) %>" title="朋兴微管家">
            <%= image_tag roll.avatar.url(:zhengchang) %>
          </a>

          <p><%= truncate_u(roll.content, 110) %></p>
          <a href="<%= case_path(roll) %>"><strong><%= roll.title %></strong>
          </a>
        </li>
    <% end %>
  </ul>
</section>
</body>
<%= render "comment/footer" %>