<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="<%= cases_path %>" title="">
        <img src="../images/logo_3.png" width="127" height="128" alt=""/>
        <strong>案例</strong><span>CASES</span>
      </a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="show_cases">
  <div class="wrapper">
    <h1 id="title">
      <span>UPTATED:<%= my_time_format @roll.created_at %>
        <a href="<%= cases_path %>" title="朋兴帮您解决烦恼">返回列表</a>
      </span>
      <%= @roll.title %>
    </h1>

    <div id="detailed">
      <ul>
        <li><%= image_tag @roll.avatar.url(:anli) %></li>
        <li>名称：<%= @roll.title %></li>
        <li>时间：<%= my_time_format @roll.created_at %></li>
        <li>说明：<%= @roll.content %></li>
      </ul>
    </div>
  </div>
</section>
</body>
<%= render "comment/footer" %>
