<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="http://www.028studio.com/028/NEWS/" title=""><img src="./images/logo_5.png" width="127" height="128" alt=""/><strong>新闻中心</strong><span>NEWS</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="content">
  <div class="wrapper">
    <div class="contentbar">
      <div id="newslist">
        <ul class="news">
          <% @journalisms.each do |q| %>
              <li>
                <div class="newslist">
                  <a href="<%= news_path(q) %>" title="<%= q.title %>"><%= truncate_u(q.title, 50) %></a>
                  <span>UPTATED:<%= my_time_format q.created_at %></span>
                </div>
                <div class="clear"></div>
              </li>
          <% end %>
        </ul>
      </div>
      <div class="pager">
        <div class="pagination pagination-centered">
          <ul>
            <%= paginate @journalisms %>
          </ul>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <h3 class="cat_title"><a href="<%= cases_path %>" title="案例">· 案例</a></h3>
      <% @roll.each do |roll| %>
          <h5>
            <a href="<%= case_path(roll) %>" title="<%= roll.title %>">
              <%= roll.title %>
            </a>
          </h5>
      <% end %>
    </div>
  </div>
</section>
</body>
<%= render "comment/footer" %>