<body id="con">
<header>
  <div class="wrapper">
    <h1 class="logo">
      <a href="http://www.028studio.com/028/NEWS/" title=""><img src="../images/logo_5.png" width="127" height="128" alt=""><strong>新闻中心</strong><span>NEWS</span></a>
    </h1>
    <nav>
      <%= render "comment/menu" %>
    </nav>
  </div>
</header>
<!-- /header -->
<section id="content">
  <div class="wrapper">
    <br/>
    <br/>

    <div class="contentbar">
      <article>
        <h1 id="title">
          <span>UPTATED:<%= my_time_format @journalism.created_at %>
            <a href="<%= news_index_path %>" title="新闻中心">返回列表</a>
          </span>
          <%= @journalism.title %>
        </h1>

        <div id="info">
          <p>
            <%= @journalism.description.html_safe %>
          </p>
        </div>
      </article>
    </div>
    <div class="sidebar">
      <h3 class="cat_title">您可能感兴趣的！</h3>
      <% @journalisms.each do |q| %>
          <h5>
            <a href="<%= news_path(q) %>" title="<%= q.title %>">
              <%= link_to q.title, news_path(q) %>
            </a>
          </h5>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</section>
</body>
<%= render "comment/footer" %>