<div id="header">
  <div class="g">
    <div id="logo" class="l">
      <a href="<%= weixin_index_path %>" title="微信公众平台开发_朋兴" target="_blank"></a>
    </div>
    <ul id="nav" class="l">
      <li><a href="<%= root_path %>" target="_blank">首页</a></li>
      <li><a href="<%= services_path %>" target="_blank">服务</a></li>
      <li><a href="<%= cases_path %>" target="_blank">案例</a></li>
      <li><a href="<%= weixin_index_path %>" class="on">微信</a></li>
      <li><a href="<%= contact_index_path %>" target="_blank">联系</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>

<h1 class="g">功能对比 <span>按需选用，随需升级</span></h1>
<table class="g" id="compare">
<tbody>
<tr class="top even">
  <th align="left" style="padding-left:30px">
    <h3><a href="<%= weixin_index_path %>" title="返回功能介绍">功能模块</a></h3>
  </th>
  <th>
    <div><img src="../images/standard.png" alt="标准版" height="50" width="50"></div>
    <h3 style="color:#7fbae0">标准版</h3>
  </th>
  <th>
    <div><img src="../images/diamond.png" alt="钻石版" height="50" width="50"></div>
    <h3 style="color:#c883c0">钻石版</h3>
  </th>
  <th>
    <div><img src="../images/industry.png" alt="行业版" height="50" width="50"></div>
    <h3 style="color:#e1cb8d">行业版</h3>
  </th>
</tr>
<tr align="center">
  <td align="left">

  </td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="首次关注" target="_blank">首次关注</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="onhover">
  <td align="left">
    <h3><a href="#" title="微菜单" target="_blank">微菜单</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="关键词回复" target="_blank">关键词回复</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微会员" target="_blank">微会员</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微网站" target="_blank">微网站</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="无敌幸运机" target="_blank">无敌幸运机</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="大转盘" target="_blank">大转盘</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="刮刮卡" target="_blank">刮刮卡</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="优惠券" target="_blank">优惠券</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="智能客服" target="_blank">智能客服</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="LBS" target="_blank">LBS</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="素材管理" target="_blank">素材管理</a></h3>
  </td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>

<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微相册" target="_blank">微相册</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="在线预定" target="_blank">在线预定</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微门店" target="_blank">微门店</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微投票" target="_blank">微投票</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微调研" target="_blank">微调研</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微吧" target="_blank">微吧</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微团购" target="_blank">微团购</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="一战到底" target="_blank">一战到底</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>


<tr align="center" class="even">
  <td colspan="4" style="color:#63afd6">* 以下为行业版，<strong>行业版</strong> = <strong style="color:#ff5a50">单一行业模块</strong> +
    <strong>所有钻石版功能</strong></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微KTV" target="_blank">微KTV</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微商城" target="_blank">微商城</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微装修" target="_blank">微装修</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微教育" target="_blank">微教育</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微物业" target="_blank">微物业</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微酒吧" target="_blank">微酒吧</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微花店" target="_blank">微花店</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微政务" target="_blank">微政务</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微婚庆" target="_blank">微婚庆</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微食品" target="_blank">微食品</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微美容" target="_blank">微美容</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微健身" target="_blank">微健身</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微生活" target="_blank">微生活</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微医疗" target="_blank">微医疗</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微酒店" target="_blank">微酒店</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微汽车" target="_blank">微汽车</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微旅游" target="_blank">微旅游</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微餐饮" target="_blank">微餐饮</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center">
  <td align="left">
    <h3><a href="#" title="微喜帖" target="_blank">微喜帖</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>
<tr align="center" class="even">
  <td align="left">
    <h3><a href="#" title="微房产" target="_blank">微房产</a></h3>
  </td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="否" class="no"></td>
  <td width="24%" title="是" class="yes"></td>
</tr>

</tbody>
</table>
<!-- 客服 -->
<link href="../stylesheets/lanrenzhijia.css" rel="stylesheet"/>
<script src='../javascripts/jquery.bxSlider.min.js'></script>
<!-- 客服end -->
<div id="service">
  <%= render "comment/kefu" %>
</div>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(window).scrollTop() > 200) {
            $('#goTop').fadeIn();
        } else if ($(window).scrollTop() < 200) {
            $('#goTop').fadeOut();
        }
    });
    $('#goTop').click(function () {
        $("html, body").animate({scrollTop: 0}, 200);
    });

</script>
<!--[if IE]>
<script>
    DD_belatedPNG.fix('.png24');
    DD_belatedPNG.fix('.close');
</script>
<![endif]-->
<script>
    $(function () {
        $('tr:even').addClass('even');
        $("tr").hover(
                function () {
                    $(this).addClass("onhover");
                },
                function () {
                    $(this).removeClass("onhover");
                });
    });
</script>

<div id="footer">
  <div class="g fnavBox">
    <ul class="fnav l">
      <li class="liblock">
        <h3><a href="<%= questions_path %>" target="_blank">常见问题</a></h3>
        <ul>
          <% @questions.each do |q| %>
              <li>
                <a href="<%= question_path(q) %>" title="<%= q.title %>" target="_blank"><%= link_to truncate_u(q.title, 6), question_path(q) %></a>
              </li>
          <% end %>
        </ul>
      </li>
      <li class="liblock">
        <h3><a href="<%= abouts_path %>" target="_blank">关于</a></h3>
        <ul>

        </ul>
      </li>
      <li class="liblock">
        <h3><a href="<%= website_services_path %>" target="_blank">服务</a></h3>
        <ul>
          <li><a href="<%= website_services_path %>" title="网站建设" target="_blank">网站建设</a></li>
          <li><a href="<%= weixin_index_path %>" title="微信 / 微站" target="_blank">微信 / 微.</a></li>
          <li><a href="<%= marketing_services_path %>" title="网站推广" target="_blank">网站推广</a></li>

        </ul>
      </li>
      <li class="liblock">
        <h3><a href="<%= cases_path %>" target="_blank">案例</a></h3>
        <ul>
          <% @roll.each do |roll| %>
              <li>
                <a href="<%= case_path(roll) %>" title="<%= roll.title %>" target="_blank"><%= truncate_u(roll.title, 5) %></a>
              </li>
          <% end %>
        </ul>
      </li>

      <li class="liblock liblock4">
        <h3><a href="<%= contact_index_path %>" target="_blank">联系我们</a></h3>
        <ul>
          <li>服务热线</li>
          <li class="green fs24">4008-455-789</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="cooperative"></div>
  <div class="g">
    <div class="cpr hc">
      <span>Copyright &#169; 2011-2014 www.pxwgj.com .All Rights Reserved. 朋兴微管家 版权所有.
        <a href="http://www.ccpxcm.com/" title="朋兴文化传媒有限公司" target="_blank">朋兴文化传媒有限公司</a>
        <a href="http://www.ccpxcm.com/ours/elite_team" title="朋兴做网站" target="_blank"> 朋兴专业团队 </a>
        <a href="http://www.pxwgj.com/services/marketing/" title="朋兴网站推广" target="_blank">朋兴网站推广</a>
      </span>
    </div>
  </div>
</div>