<div id="header">
  <div class="g">
    <div id="logo" class="l">
      <a href="<%= weixin_index_path %>" title="微信公众平台开发_朋兴" target="_blank"></a>
    </div>
    <ul id="nav" class="l">
      <li><a href="<%= root_path %>" target="_blank">首页</a></li>
      <li><a href="<%= services_path %>" target="_blank">服务</a></li>
      <li><a href="<%= cases_path %>" target="_blank">案例</a></li>
      <li><a href="<%= weixin_index_path %>" class="on">微信</a></li>
      <li><a href="<%= contact_index_path %>" target="_blank">联系</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="g filterBox">
  <h1>功能模块</h1>
  <ul class="filterBtn">
    <li class="filter on active" data-filter="all">全部</li>
    <li class="filter" data-filter="pkg8">标准版</li>
    <li class="filter" data-filter="pkg9">钻石版</li>
    <li class="filter" data-filter="pkg10">行业版</li>
  </ul>
  <div class="listType">
    <a href="<%= contrast_weixin_index_path %>">版本对比</a>
  </div>
</div>
<div id="catfocus" class="g" style="display: block;">
  <ul class="catfocus" style="left: 0px;">
    <li class="item" style="background:url(./images/20131218023702373.png)"></li>
    <li class="item" style="background:url(./images/20140101044445275.png)"></li>
    <li class="item" style="background:url(./images/20140101044456179.png)"></li>
    <li class="item" style="background:url(./images/20140101044508815.png)"></li>
  </ul>
  <!-- <a class="close"></a> -->
</div>
<ul class="g grid" id="grid" style="     ">
<li class="mix pkg8 mix_all hover" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/26.html" title="首次关注" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G34555453.png" alt="首次关注">
      <span>首次关注</span>
    </a>
  </h3>

  <p>首次关注推送信息，<br>图文并茂随心搭配
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/27.html" title="微菜单" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G34622337.png" alt="微菜单">
      <span>微菜单</span>
    </a>
  </h3>

  <p>便捷直观、随意定制，<br>快速引导、精确定位</p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/29.html" title="关键词回复" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G35T0G8.png" alt="关键词回复">
      <span>关键词回复</span>
    </a>
  </h3>

  <p>便捷关键词回复<br>轻松设置
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/36.html" title="微会员" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G52254A3.png" alt="微会员">
      <span>微会员</span>
    </a>
  </h3>

  <p>方便携带、永不挂失，<br>消费积分，一卡配备</p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/60.html" title="微KTV" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G55R1.png" alt="微KTV">
      <span>微KTV</span>
    </a>
  </h3>

  <p>最新资讯与优惠信息，<br>革新娱乐新体验
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/66.html" title="微商城" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G54T40-L.png" alt="微商城">
      <span>微商城</span>
    </a>
  </h3>

  <p>小微信也有大商城，<br>电商轻松走入微信</p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/64.html" title="微装修" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G601010-L.png" alt="微装修">
      <span>微装修</span>
    </a>
  </h3>

  <p>专为装修行业打造，<br>装修也可点点通
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/63.html" title="微教育" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G600170-L.png" alt="微教育">
      <span>微教育</span>
    </a>
  </h3>

  <p>一流教育品牌宣传，<br>成就新辉煌
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/62.html" title="微物业" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G559340-L.png" alt="微物业">
      <span>微物业</span>
    </a>
  </h3>

  <p>打造个性化物管，<br>营造贴心周到服务
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/61.html" title="微酒吧" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G55U80-L.png" alt="微酒吧">
      <span>微酒吧</span>
    </a>
  </h3>

  <p>针对酒吧行业量身定做，<br>微信互动引爆人气
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/59.html" title="微花店" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G55J10-L.png" alt="微花店">
      <span>微花店</span>
    </a>
  </h3>

  <p>有心意就要表达，<br>订花就要这么简单
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/58.html" title="微政务" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G55F30-L.png" alt="微政务">
      <span>微政务</span>
    </a>
  </h3>

  <p>提高公众参与度<br>发布 · 服务 · 互动 · 合作
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/57.html" title="微婚庆" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G556240-L.png" alt="微婚庆">
      <span>微婚庆</span>
    </a>
  </h3>

  <p>让顾客成为你的推广员，<br>每一次转发都是品牌的积累
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/56.html" title="微食品" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G555480-L.png" alt="微食品">
      <span>微食品</span>
    </a>
  </h3>

  <p>彰显品牌个性，<br>迎合消费新需求
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/55.html" title="微美容" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G555090-L.png" alt="微美容">
      <span>微美容</span>
    </a>
  </h3>

  <p>精准时尚的传播方式，<br>为您打造良好的口碑形象
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/54.html" title="微健身" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G554010-L.png" alt="微健身">
      <span>微健身</span>
    </a>
  </h3>

  <p>优化服务体验，<br>周到健身提醒
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/53.html" title="微生活" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G553240-L.png" alt="微生活">
      <span>微生活</span>
    </a>
  </h3>

  <p>微信上的生活服务，<br>方便、快捷、高效
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/52.html" title="微医疗" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G552440-L.png" alt="微医疗">
      <span>微医疗</span>
    </a>
  </h3>

  <p>在线挂号或资讯，<br>了解病情微信都可以
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/51.html" title="微酒店" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G551460-L.png" alt="微酒店">
      <span>微酒店</span>
    </a>
  </h3>

  <p>在线订房融入微信，<br>酒店营销多一条新途径</p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/50.html" title="微汽车" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G551030-L.png" alt="微汽车">
      <span>微汽车</span>
    </a>
  </h3>

  <p>预约试驾、保养，<br>360度看车、车主关怀
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/49.html" title="微旅游" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G550190-L.png" alt="微旅游">
      <span>微旅游</span>
    </a>
  </h3>

  <p>网上浏览景区，<br>微信在线订票
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/48.html" title="微餐饮" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G549310-L.png" alt="微餐饮">
      <span>微餐饮</span>
    </a>
  </h3>

  <p>微信上实时点餐，<br>餐厅开在微信上
  </p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/47.html" title="微喜帖" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G54P80-L.png" alt="微喜帖">
      <span>微喜帖</span>
    </a>
  </h3>

  <p>颠覆传统方式，<br>让庆典更时尚</p>
</li>
<li class="mix pkg10 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/xingyeban/46.html" title="微房产" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G54G60-L.png" alt="微房产">
      <span>微房产</span>
    </a>
  </h3>

  <p>房产行业解决方案，<br>360度看房更给力
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/45.html" title="微相册" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G545210-L.png" alt="微相册">
      <span>微相册</span>
    </a>
  </h3>

  <p>照片展现，<br>让商品一览无余
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/44.html" title="在线预定" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G544400-L.png" alt="在线预定">
      <span>在线预定</span>
    </a>
  </h3>

  <p>在线预约，028微信<br>平台帮你一键搞定
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/43.html" title="微门店" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G543560-L.png" alt="微门店">
      <span>微门店</span>
    </a>
  </h3>

  <p>结合LBS功能，对连锁、<br>多店面提供便捷
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/42.html" title="微投票" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G543080-L.png" alt="微投票">
      <span>微投票</span>
    </a>
  </h3>

  <p>获得用户心声，<br>丰富营销思路
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/41.html" title="微调研" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G541310-L.png" alt="微调研">
      <span>微调研</span>
    </a>
  </h3>

  <p>无需人力电子调研，<br>掌握市场第一首数据
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/40.html" title="微吧" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G536080-L.png" alt="微吧">
      <span>微吧</span>
    </a>
  </h3>

  <p>微信上的休闲吧，<br>交流互动话品牌
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/39.html" title="微团购" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G535210-L.png" alt="微团购">
      <span>微团购</span>
    </a>
  </h3>

  <p>还怕库存淡旺季，<br>安啦，我有微团购
  </p>
</li>
<li class="mix pkg9 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/zuanshiban/38.html" title="一战到底" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G525480-L.png" alt="一战到底">
      <span>一战到底</span>
    </a>
  </h3>

  <p>融品牌于知识<br>便销售为乐趣
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/37.html" title="微网站" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G520590-L.png" alt="微网站">
      <span>微网站</span>
    </a>
  </h3>

  <p>酷炫微网站，<br>微信上的形象门户
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/35.html" title="无敌幸运机" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G519550-L.png" alt="无敌幸运机">
      <span>无敌幸运机</span>
    </a>
  </h3>

  <p>幸运机摇奖服务<br>增强用户粘性
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/34.html" title="大转盘" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G51T80-L.png" alt="大转盘">
      <span>大转盘</span>
    </a>
  </h3>

  <p>快乐大转盘<br>幸运落谁家
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/33.html" title="刮刮卡" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G51J50-L.png" alt="刮刮卡">
      <span>刮刮卡</span>
    </a>
  </h3>

  <p>开展在线刮奖活动，<br>吸引顾客线下消费
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/32.html" title="优惠券" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G515590-L.png" alt="优惠券">
      <span>优惠券</span>
    </a>
  </h3>

  <p>电子优惠券利益客户，<br>又节约营销预算
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/30.html" title="智能客服" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G512260-L.png" alt="智能客服">
      <span>智能客服</span>
    </a>
  </h3>

  <p>智能客服，自动应答，<br>7×24不间断服务
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/31.html" title="LBS" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G513360-L.png" alt="LBS">
      <span>LBS</span>
    </a>
  </h3>

  <p>适用于多门店、多服务点，<br>让客户更方便的找到你
  </p>
</li>
<li class="mix pkg8 mix_all" style="  display: inline-block; opacity: 1;">
  <h3>
    <a href="http://weixin.028studio.com/biaozhunban/28.html" title="素材管理" rel="#overlay" class="prdInfo">
      <img src="./images/1-14022G34G70-L.png" alt="素材管理">
      <span>素材管理</span>
    </a>
  </h3>

  <p>全面素材管理<br>让微信随需而变
  </p>
</li>

</ul>
<div class="g prdTool">
  <a href="<%= contrast_weixin_index_path %>" target="_blank" class="ptCmpr">
    <span class="ptTitle">版本对比</span>
    <span>对比选择哪一个版本更适合</span>
  </a>
  <a href="" class="ptHelp">
    <span class="ptTitle">帮助中心</span>
    <span>零起步操作说明</span>
  </a>
  <a href="" class="ptSrvs">
    <span class="ptTitle">4008-455-789</span>
    <span>7×12 客服中心</span>
  </a>
</div>
<!-- 弹出层 开始 -->
<div class="apple_overlay" id="overlay"><a class="close"></a>

  <div class="overlayTool">
    <div class="oImgBox l"></div>
    <div class="oTitle l">
      <h3></h3>

      <p></p>
    </div>
    <div class="oLink r">
      <a href="./成都微信营销 微信代运营 微信托管 微网站 微商城 微营销 微信定制开发-028微信平台_files/成都微信营销 微信代运营 微信托管 微网站 微商城 微营销 微信定制开发-028微信平台.html" class="allM" target="_blank">全部模块</a>
      <a href="" class="newW" target="_blank">新窗口打开</a>
    </div>
  </div>
  <div class="contentWrap"></div>
</div>
<!-- 弹出层 结束 -->

<div id="service">
  <a class="srvCns" href="<%= contact_index_path %>" target="_blank">在线咨询</a>
  <a class="goTop" id="goTop" title="返回顶部" style="display: none;">返回顶部</a>
</div>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(window).scrollTop() > 200) {
            $('#goTop').fadeIn();
        } else if ($(window).scrollTop() < 200) {
            $('#goTop').fadeOut();
        }
    });
    $('#goTop').click(function () {
        $("html, body").animate({scrollTop: 0}, 200);
    });
</script>
<!--[if IE]>
<script>
    DD_belatedPNG.fix('.png24');
    DD_belatedPNG.fix('.close');
</script>
<![endif]-->

<!--滚动 -->
<script>
    $(function () {
        //焦点图动态下滑效果
        $("#catfocus").slideDown(800);
        //焦点图左右滑动效果
        $("#catfocus").scrollable({
            items: '.catfocus'
        }).navigator({
            navi: '.filterBtn'
        });
        //列表hover效果
        $(".grid li").hover(
                function () {
                    $(this).addClass("hover");
                },
                function () {
                    $(this).removeClass("hover");
                }
        );
        //弹出层
        $(".prdInfo").overlay({
            mask: '#44af35',
            effect: 'apple',
            top: "center",
            onBeforeLoad: function () {
                var wrap = this.getOverlay().find(".contentWrap");
                wrap.load(this.getTrigger().attr("href") + " #mdCnt");
                $(".oImgBox").html(this.getTrigger().children("img").clone());
                $(".oTitle h3").html(this.getTrigger().children("span").html());
                $(".oTitle p").html(this.getTrigger().parent().next().html().replace(/<br[^>]*>/ig, "，"));
                $(".newW").attr("href", this.getTrigger().attr("href"));
            }
        });
        //筛选
        $('#grid').mixitup({layoutMode: 'grid'});
    });
</script>
<div id="footer">
  <div class="g fnavBox">
    <ul class="fnav l">
      <li class="liblock">
        <h3><a href="<%= questions_path %>" target="_blank">常见问题</a></h3>
        <ul>
          <% @questions.each do |q| %>
              <li>
                <a href="<%= question_path(q) %>" title="<%= q.title %>" target="_blank"><%= link_to truncate_u(q.title, 5), question_path(q) %></a>
              </li>
          <% end %>
        </ul>
      </li>
      <li class="liblock">
        <h3><a href="<%= abouts_path %>" target="_blank">关于</a></h3>
        <ul>

        </ul>
      </li>
      <li class="liblock">
        <h3><a href="<%= website_services_path %>" target="_blank">服务</a></h3>
        <ul>
          <li><a href="<%= website_services_path %>" title="网站建设" target="_blank">网站建设</a></li>
          <li><a href="<%= weixin_index_path %>" title="微信 / 微站" target="_blank">微信 / 微.</a></li>
          <li><a href="<%= marketing_services_path %>" title="网站推广" target="_blank">网站推广</a></li>

        </ul>
      </li>
      <li class="liblock">
        <h3><a href="<%= cases_path %>" target="_blank">案例</a></h3>
        <ul>
          <% @roll.each do |roll| %>
              <li>
                <a href="<%= case_path(roll) %>" title="<%= roll.title %>" target="_blank"><%= truncate_u(roll.title, 5) %></a>
              </li>
          <% end %>
        </ul>
      </li>

      <li class="liblock liblock4">
        <h3><a href="<%= contact_index_path %>" target="_blank">联系我们</a></h3>
        <ul>
          <li>服务热线</li>
          <li class="green fs24">4008-455-789</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="cooperative"></div>
  <div class="g">
    <div class="cpr hc">
      <span>Copyright &#169; 2011-2014 www.pxwgj.com .All Rights Reserved. 朋兴微管家 版权所有.
        <a href="http://www.ccpxcm.com/" title="朋兴文化传媒有限公司" target="_blank">朋兴文化传媒有限公司</a>
        <a href="http://www.ccpxcm.com/ours/elite_team" title="朋兴做网站" target="_blank"> 朋兴专业团队 </a>
        <a href="http://www.pxwgj.com/services/marketing/" title="朋兴网站推广" target="_blank">朋兴网站推广</a>
      </span>
    </div>
  </div>
</div>