<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:bd=http://www.baidu.com/2010/xbdml>
<head>
  <meta http-equiv=Content-Type content=“text/html;charset=utf-8″>
  <meta http-equiv=“X-UA-Compatible” content=“chrome=1″ />
  <title>长春朋兴微管家|长春微信|长春微官网|长春网站设计|长春网站制作|长春网页设计公司-朋兴传媒|www.pxwgj.com</title>
  <meta name="description" content="长春朋兴文化传媒有限公司:专注于长春微信,长春微官网开发,长春网站开发,长春网站设计,长春网页制作,长春网页设计等一体化的文化传媒公司.朋兴传媒以最低的价格为您提供最优质服务!">
  <meta name="keywords" content="长春微信,长春微官网,长春网站制作,长春网站设计,长春网页设计,长春传媒公司,长春文化传媒,长春朋兴文化传媒,长春朋兴传媒,长春朋兴微信,长春朋兴微官网,长春朋兴微管家,
  长春朋兴网站建设,长春朋兴网站建设公司,长春朋兴网站设计公司,朋兴网站制作公司,朋兴微信,朋兴微官网,朋兴微管家,www.pxwgj.com">

  <link rel="shortcut icon" href="http://www.028studio.com/favicon.ico" type="image/x-icon">
  <!--[if lt IE 9]>
  <script type="text/javascript" src="http://www.028studio.com/templets/default/js/html5.js"></script>
  <![endif]-->

  <!-- 客服 -->
  <%= stylesheet_link_tag "lanrenzhijia" %>
  <%= javascript_include_tag "jquery.bxSlider.min" %>
  <!-- 客服end -->
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "4713898", "cityDataWithBus.pack", "infowindow2", "jquery", "jquery.mixitup.min", "jquery.plugin.min", "jquery.SuperSlide.2.1.1", "jquery.tools.min", "jquery-1.7.2.min", "jquery-1", "mapbar31.2", "sendtool", "template" %>
</head>
<body>

<%= yield %>

</body>
</html>
